<h1>Job</h1>

<ul *ngIf="jobs">
  <li *ngFor="let job of job">
    <div class="jobsTable">
      <p class="rightAligned">Salary Range: Min ${{ job.MatchedObjectDescriptor.PositionRemuneration[0].MinimumRange}} -
        Max ${{ job['MatchedObjectDescriptor']['PositionRemuneration'][0]['MaximumRange']}}</p>
      <p><strong>Department : {{ job['MatchedObjectDescriptor']['DepartmentName']}}</strong></p>
      <p><strong>Organization : {{ job['MatchedObjectDescriptor']['OrganizationName']}} </strong></p>
      <br>
      <p><strong>Summary: {{ job['MatchedObjectDescriptor']['UserArea']['Details']['JobSummary']}}</strong></p>
      <p><u>Location: {{ job.MatchedObjectDescriptor.PositionLocation[0].LocationName }} </u></p>
    </div>
    <p>
      Matched Object Id: {{ job['MatchedObjectDescriptor']['PositionLocation']['LocationName']}}
      Position Title: {{ job.MatchedObjectDescriptor.PositionTitle }}
      Location: {{ job.MatchedObjectDescriptor.PositionLocation.LocationName }}
      Job Summary: {{ job['MatchedObjectDescriptor']['UserArea']['Details']['JobSummary']}}
      Salary Min Range: {{ job.MatchedObjectDescriptor.PositionRemuneration.MinimumRange}}
      Salary Max Range: {{ job['MatchedObjectDescriptor']['PositionRemuneration']['MaximumRange']}}
      Position Start Date: {{ job['MatchedObjectDescriptor']['PositionStartDate'] }}
      Department: {{ job['MatchedObjectDescriptor']['DepartmentName']}}
      Organization: {{ job['MatchedObjectDescriptor']['OrganizationName']}}
    </p>
  </li>
</ul>

<!--<div *ngFor="let job of job">
  <p>
    Matched Object Id: {{ job['MatchedObjectDescriptor']['PositionLocation'][0]['LocationName']}}
    Position Title: {{ job.MatchedObjectDescriptor.PositionTitle }}
    Location: {{ job.MatchedObjectDescriptor.PositionLocation[0].LocationName }}
    Job Summary: {{ job['MatchedObjectDescriptor']['UserArea']['Details']['JobSummary']}}
    Salary Min Range: {{ job.MatchedObjectDescriptor.PositionRemuneration[0].MinimumRange}}
    Salary Max Range: {{ job['MatchedObjectDescriptor']['PositionRemuneration'][0]['MaximumRange']}}
    Position Start Date: {{ job['MatchedObjectDescriptor']['PositionStartDate'] }}
    Department: {{ job['MatchedObjectDescriptor']['DepartmentName']}}
    Organization: {{ job['MatchedObjectDescriptor']['OrganizationName']}}

  </p>
  <div class="jobTable">
    <p class="rightAligned">Salary Range: Min ${{ job.MatchedObjectDescriptor.PositionRemuneration[0].MinimumRange}} -
      Max ${{ job['MatchedObjectDescriptor']['PositionRemuneration'][0]['MaximumRange']}}</p>
    <h2>{{ job.MatchedObjectDescriptor.PositionTitle }}</h2>
    <p><strong>Department : {{ job['MatchedObjectDescriptor']['DepartmentName']}}</strong></p>
    <p><strong>Organization : {{ job['MatchedObjectDescriptor']['OrganizationName']}} </strong></p>
    <br>
    <p><strong>Summary: {{ job['MatchedObjectDescriptor']['UserArea']['Details']['JobSummary']}}</strong></p>
    <p><u>Location: {{ job.MatchedObjectDescriptor.PositionLocation[0].LocationName }} </u></p>
  </div>
  <hr>
</div>
-->
