<div class="jumbotron">
  <h2>Index Component</h2>
  <hr />
  <form action="#" class="JobSearchForm" [formGroup]="myForm">
    <h3>What are you looking for?</h3>
    <p>Value: {{ myForm.value | json }}</p>
    <mat-form-field class = "full-width">
      <label for="inputState">Job Position</label>
      <input matInput type="text" class="form-control" formControlName="jobPosition"/>
    </mat-form-field>
    <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
    <br />
    <h3>Where is your dream location?</h3>
    <br>
    <div class="form-row">
      <div class="form-group col-md-6">
        <mat-form-field class = "full-width">
          <label for="inputCity">City</label>
          <input matInput type="text" class="form-control" formControlName="city" />
        </mat-form-field>
      </div>
      <div class="form-group col-md-4">
        <mat-form-field>
          <label for="inputState">State</label>
          <select matNativeControl required class="form-control" name="state" formControlName="state">
          <option selected>Choose...</option>
          <option value="AK">Alaska</option>
          <option value="AL">Alabama</option>
          <option value="AR">Arkansas</option>
          <option value="AZ">Arizona</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DC">District of Columbia</option>
          <option value="DE">Delaware</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="IA">Iowa</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="MA">Massachusetts</option>
          <option value="MD">Maryland</option>
          <option value="ME">Maine</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MO">Missouri</option>
          <option value="MS">Mississippi</option>
          <option value="MT">Montana</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="NE">Nebraska</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NV">Nevada</option>
          <option value="NY">New York</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="PR">Puerto Rico</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VA">Virginia</option>
          <option value="VT">Vermont</option>
          <option value="WA">Washington</option>
          <option value="WI">Wisconsin</option>
          <option value="WV">West Virginia</option>
          <option value="WY">Wyoming</option>
          </select>
        </mat-form-field>
      </div>
      <div class="form-group col-md-2">
        <mat-form-field class = "full-width">
          <label for="inputZip">Zip</label>
          <input matInput type="text" class="form-control" formControlName="zip_code"/>
        </mat-form-field>
      </div>
    </div>
  </form>
  <br />
  <button type="button" class="btn btn-primary btn-block" (click)="searchButtonClick()">Search</button>
</div>
