/* @import '../../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css'; */

.full-width{
    width: 100%;
}

mat-form-field input{
    font-size: 16px;
}

#stateField{
    margin-top: 13px;
}

.jumbotron {
    border-style: solid;
    border-radius: 2mm;
    border-color: #EF8354
}


.btn-primary {
    
      color: #fff;
      background-color: #5BC3EB;
      border-color: whitesmoke;
      width: 75%;
      margin: auto;
}