<!-- <app-jobs-index></app-jobs-index> -->
<h1>Jobs Results Page </h1>
<p>Data = {{ jobs.position_title }}</p>


    <!-- Start of Chai's Tables -->
    <div class="jobsTable">
        <p class="rightAligned">$ Salary</p>
        <h2>Job Title</h2>
        <p><strong>DepartmentName / Organization Name</strong></p>
        <br>
        <p>Description: Lorem Ipsum blasdsdfasf</p>
        <p>Location: Indianapolis, IN</p>
    </div>

    <!--Joey Table-->
    <div class="col-md10 col-sm-10">
        <div class="company-content">
            <h3>
                "Software Developer"
                <span class="full-time">Full Time</span>
            </h3>
            <p>
                <span class="company-name"></span>
                <span class="company-location">
                "Indianapolis Indiana 12345 Indiana ave"
                </span>
                <span class="money">
                    "$1000"
                </span>
            </p>
        </div>
    </div>
    <div class="row">
    <div class="cold-md-2 col-sm-2">
        "Description"
        
    </div>        
    </div>