.registerForm {
    display: grid;
    justify-content: center;
}

.jumbotron-container {
    display: flex;
    justify-content: center;
}

h1,h4 {
    display: grid;
    justify-content: center

}

.jumbotron {
    width: 45%;
    border-style: solid;
    border-radius: 2mm;
    border-color: #EF8354
}


.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #5BC3EB;
  display: block;
  margin: auto;
  width: 50%
}
