
<div class="jumbotron">
    <h1 class="display-3">About</h1>
    <p class="lead">Built for developers, by developers</p>
    <hr class="my-4">
    <p>As developers we know how hard it is trying to find time to search for jobs. Between writing code and pushing to github to make your profile full of commits. We all want that contribution chart as green as possible. We built a solution that's quick & easy to use, that allows you more time for writing code. Let's face it, us developers want the easiest & shortest solution to save time (google, stack overflow...) We did the hard work for you, now let's find you a job!
    </p>
</div>
